# Ignora tudo
*

# Excetua as pastas desejadas
!hypr/
!hypr/*
!hypr/*/*
!waybar/
!waybar/*
!wofi/
!wofi/*
!kitty/
!kitty/*
!wlogout/
!wlogout/*
!fastfetch/
!fastfetch/*
!fastfetch/*/*
!mako/
!mako/*
!btop/
!btop/*

# Opcionalmente, se quiser garantir que o próprio .gitignore não seja ignorado
!.gitignore
!app.lst
!README.md
!install.sh
!.zshrc